<div class="container d-flex min-vw-100 min-vh-100 vw-100 vh-100 justify-content-center align-items-center" data-controller="pages" >

  <div class="curtain bg-black vw-100 vh-100" data-pages-target="black" data-action="">
  </div>

  <div class="one align-self-center" data-pages-target="title" data-action="click->pages#fadein">
    <h1 class="text-center "><%=@story.universe.title%></h1>
    <p class="text-center"><%=@story.title%></p>
  </div>

  <div class="two d-none" data-pages-target="closeddoor" data-action="click->pages#turn" >
    <%= image_tag "https://res.cloudinary.com/djkudqafd/image/upload/v1678888042/door1_afp50g.png"%>
  </div>

  <div  class="three d-none" data-pages-target="opendoor" data-action="click->pages#scale" >
    <%= image_tag "https://res.cloudinary.com/djkudqafd/image/upload/v1678888043/door2_eelfzh.png"%>
  </div>

  <div class="four hideslide align-self-center" data-pages-target="text1" data-action="click->pages#call">
    <p class="medium-text">
    I had just arrived from school and I quickly noticed that was something wrong at home.
    </p>
  </div>

  <div class="five hideslide align-self-center" data-pages-target="mobile" data-action="click->pages#hello">
    <%= image_tag "https://res.cloudinary.com/djkudqafd/image/upload/v1678993206/mobile_tafkem.gif"%>
  </div>

  <div class="six hideslide" data-pages-target="hello" data-action="click->pages#talk">
    <%= image_tag "https://res.cloudinary.com/djkudqafd/image/upload/v1679076086/kidmobile_ed0dfy.png"%>
  </div>


</div>
