<div class="container m-3">
  <% @friendships.each do |f|  %>
    <div class="row justify-content-center mb-2">
      <% if @user == f.asker %>
        <%=link_to(user_path(f.receiver)) do%>
          <div class="d-flex justify-content-between">
          <%= f.receiver.nickname %>
        <%end%>
           <%= button_to "Delete", delete_friendship_user_path(f), method: :delete %>
        </div>


      <%elsif @user == f.receiver %>
        <%=link_to(user_path(f.asker)) do%>
        <div class="d-flex justify-content-between">
          <%= f.asker.nickname%>
        <%end%>
          <%= button_to "Delete", delete_friendship_user_path(f), method: :delete %>
          </div>

      <%end%>
    </div>
  <%end%>
</div>
