<div class="container my-3">

  <% @friendships.each do |f|  %>

    <div class="row justify-content-center mb-2">

      <% if @user == f.asker %>

        <% right_chatroom = Chatroom.find_by(sender_id: f.asker_id, recipient_id: f.receiver_id) || Chatroom.find_by(sender_id: f.receiver_id, recipient_id: f.asker_id) %>
        <%=link_to(user_path(f.receiver)) do%>


          <div class="d-flex justify-content-between align-items-center friendship-card">
            <div class="user_friends">
              <%= f.receiver.nickname %>
            </div>

        <%end%>
            <% if @user == current_user %>
            <div class="two-buttons">

            <%= link_to chatroom_path(right_chatroom) do%>
                <i class="fas fa-comment"> Chat</i>
            <%end%>
            <%= link_to delete_friendship_user_path(f), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="far fa-trash-alt"> Delete</i>
            <% end %>
            <% end %>

          </div>
        </div>

      <%elsif @user == f.receiver  %>

        <% right_chatroom = Chatroom.find_by(sender_id: f.asker_id, recipient_id: f.receiver_id) || Chatroom.find_by(sender_id: f.receiver_id, recipient_id: f.asker_id) %>
        <%=link_to(user_path(f.asker)) do %>

          <div class="d-flex justify-content-between align-items-center friendship-card">

            <div class="user_friends">
              <%= f.asker.nickname%>
            </div>

        <%end%>
            <% if @user == current_user%>
            <div class="two-buttons">
            <%= link_to chatroom_path(right_chatroom) do %>
                <i class="fas fa-comment fa-xl"> </i>
            <%end%>


            <%= link_to delete_friendship_user_path(f), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="far fa-trash-alt fa-xl"> </i>
            <% end %>
            <% end %>
            </div>

          </div>

      <%end%>

    </div>

  <% end %>

</div>
