<div>

  <div class="container my-4 d-flex">

    <div>
      <%= image_tag("https://res.cloudinary.com/djkudqafd/image/upload/dl_100/e_loop:0/Mayara_Turn_2_suniki.gif",
      height: 200, crop: :fill) %>
    </div>

    <div class="container align-items-center pe-5">

      <div class="row">
        <p class="fw-bold fs-4 mb-1 pb-0 mt-4">I'm</p>
        <h1 class="fs-1 mt-0 pt-0"><%=@user.nickname%></h1>
      </div>

      <div class="row">
        <p class="mt-5"><%=@user.bio%></p>
      </div>

    </div>

  </div>

  <div class="profile-container-card" >
    <%= link_to(friends_user_path(@user)) do %>
      <div class="profile-content">
        <h3>friends</h3>

        <p><% total_friendships = Friendship.where("asker_id = ? OR receiver_id = ?", @user.id, @user.id).where(is_accepted: true).count%></p>
        <p><%= total_friendships%>
      </div>
    <%end%>


    <div class="profile-content">
      <h3>favs</h3>
      <p>1</p>
    </div>

    <div class="profile-content">
      <h3>reads</h3>
      <p>1</p>
    </div>

  </div>



  <div class="d-flex justify-content-around">

    <div>

      <% if current_user != @user %>
        <% friendship_request = Friendship.find_by(asker: current_user, receiver: @user, is_accepted: false) %>
        <% friendship_accepted = Friendship.find_by(asker: current_user, receiver: @user, is_accepted: true) %>
        <% if friendship_request %>
          <%= "Friendship request sent" %>
        <% elsif friendship_accepted %>
          <%= "#{friendship_accepted.receiver.nickname} is already your friend" %>
        <% else %>
          <%= button_to "Follow", add_friend_user_path(@user),class:'button-one', method: :post %>
        <% end %>
      <% end %>

      <%@pending_friendships.each do |f|%>
        <%= "#{f.asker.nickname} wants to be your friend" %>
        <%= simple_form_for f, url:  accept_friendship_user_path(f) do |form| %>
          <%= form.input :is_accepted, as: :hidden, input_html: { value: true } %>
          <%= form.button :submit, "Accept",class:'button-two' %>
        <% end %>
        <%= button_to "Decline", decline_friendship_user_path(f),class:'button-one', method: :delete %>
      <% end %>

    </div>

    <div class="button-two"> mensagem </div>

  </div>

  <div class="mt-4">

    <div class="m-3">
      <h3 class="home-categories-titles">My favorite universes</h3>
      <%= render 'shared/home_content' %>
    </div>

    <div class="m-3">
      <h3 class="home-categories-titles">Last reads</h3>
      <%= render 'shared/home_content' %>
    </div>

  </div>

</div>
