<div>

  <div class="container my-4 d-flex profile-user">

    <div>
      <%# <%= image_tag("https://res.cloudinary.com/djkudqafd/image/upload/dl_100/e_loop:0/Mayara_Turn_2_suniki.gif",height: 200, crop: :fill) %>

      <div class="avatar-svg-profile"><%= @user.avatar_img.html_safe %></div>

      <% if @user == current_user %>
        <div class="d-flex justify-content-center flex-wrap align-items-center">
          <%= link_to "edit avatar", new_avatar_path, class:"button-two-medium mt-3  p-0" %>
          <%= link_to "logout", destroy_user_session_path, data: {turbo_method: :delete} , class: "button-two-medium mt-2 p-0"%>
        </div>
      <% end %>

    </div>

    <div class="align-items-center ">

      <div class="profile-name-font">
        <p class="fw-bold fs-4 mb-1 pb-0 mt-4">I'm</p>
        <h1 class="fs-1 mt-0 pt-0"><%=@user.nickname%></h1>
      </div>

      <div>
        <p class="mt-5 bio-profile-font"><%=@user.bio%></p>
      </div>

    </div>

  </div>

  <div class="profile-container-card" >
    <%= link_to(friends_user_path(@user)) do %>
      <div class="profile-content">
        <h3>friends</h3>

        <p><% total_friendships = Friendship.where("asker_id = ? OR receiver_id = ?", @user.id, @user.id).where(is_accepted: true).count%></p>
        <p><%= total_friendships%>
      </div>
    <%end%>


    <div class="profile-content">
      <h3>favs</h3>
      <p>1</p>
    </div>

    <div class="profile-content">
      <h3>reads</h3>
      <p>1</p>
    </div>

  </div>



  <div class="d-flex justify-content-around">

    <div>

      <% if current_user != @user %>
        <% friendship_request = Friendship.find_by(asker: current_user, receiver: @user, is_accepted: false) %>
        <% friendship_accepted = Friendship.find_by(asker: current_user, receiver: @user, is_accepted: true) %>
        <% if friendship_request %>
          <%= "Friendship request sent" %>
        <% elsif friendship_accepted %>
          <%= "#{friendship_accepted.receiver.nickname} is already your friend" %>
        <% else %>
          <%= button_to "Follow", add_friend_user_path(@user),class:'button-one', method: :post %>
        <% end %>
      <% end %>

    <div class="requests-notifications">
      <% if @pending_friendships.any? %>
        <% requests = @pending_friendships.count %>
        <% f = @pending_friendships.first %>
        <div class="text-center">
          <%= requests > 1 ?  "You Have #{requests} New Friends!" : "You Have a New Friend!" %>

          <div class="request-container-card">
            <div class="button-container">
              <span class="nickname"><%= f.asker.nickname %></span> Wants to be your friend

                <div class="two-buttons"
>
                    <%= button_to "Accept", accept_friendship_user_path(f), method: :patch, class: 'button-accept' %>
                    <%= button_to "Decline", decline_friendship_user_path(f), method: :delete, class: 'button-decline' %>
               </div>
             </div>
          </div>
        </div>
      <% end %>
     </div>
    </div>







  <% if Friendship.exists?(asker_id: current_user.id, receiver_id: @user.id, is_accepted: true) || Friendship.exists?(asker_id: @user.id, receiver_id: current_user.id, is_accepted: true) %>
    <%= link_to "message", chatroom_path(@chatroom), class: 'button-two'%>
  <% end %>

  </div>

  <div class="mt-4">

    <div class="m-3">
      <h3 class="home-categories-titles">My favorite universes</h3>
      <%= render 'shared/home_content' %>
    </div>

    <div class="m-3">
      <h3 class="home-categories-titles">Last reads</h3>
      <%= render 'shared/home_content' %>
    </div>

  </div>

</div>
