<div class="wrapper">
  <div class="universe-folder">
    <%= image_tag "image3.png", class: 'universe-folder-img' %>
    <h3>Lost in Woods</h3>
    <p>Telecosmo</p>
  </div>

  <div class="universe-folder">
    <%= image_tag "image7.png", class: 'universe-folder-img' %>
    <h3>Aghata Plotz</h3>
    <p>Telecosmo</p>
  </div>

  <div class="universe-folder">
    <%= image_tag "image6.png", class: 'universe-folder-img' %>
    <h3>Nix</h3>
    <p>Telecosmo</p>
  </div>

  <div class="universe-folder">
    <%= image_tag "teste.png", class: 'universe-folder-img' %>
    <h3>Galatic Girl</h3>
    <p>Telecosmo</p>
  </div>

  <div class="universe-folder">
    <%= image_tag "teste.png", class: 'universe-folder-img' %>
    <h3>Lost in Woods</h3>
    <p>Telecosmo</p>
  </div>

  <%@universes.each do |u|%>
    <%= link_to universe_path(u) do %>
      <div class="universe-folder">
        <%= image_tag u.thumb_url, class: 'universe-folder-img' %>
        <h3><%=u.title%></h3>
        <p><%=u.user.nickname%></p>
      </div>
    <%end%>
  <%end%>


</div>
