<div class="navbar navbar-telecosmo">

  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "telecosmo_icon.png" %>
    <% end %>

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "telecosmo_logo.png" %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to user_path(current_user) do %>
        <%# <%= image_tag "rosto.png", class: "avatar"%>
        <div class="avatar-svg-navbar"><%= current_user.avatar_img.html_safe %></div>
      <% end %>

    <% else %>
      <li class="nav-item nav-item-color">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>


  </div>



</div>
