<%= render 'shared/home_carroussel' %>

<h3 class="home-categories-titles">Original</h3>
<%= render 'shared/home_content' %>

<h3 class="home-categories-titles">Recent added</h3>
<%= render 'shared/home_content' %>

<h3 class="home-categories-titles">Top universes</h3>
<%= render 'shared/home_content' %>

<h3 class="home-categories-titles">Bookmarks</h3>
<%= render 'shared/my_bookmarks' %>
