<div>
  <div class="header-tag">
    <h1 class="text-center m-2 p-2"><%= @tag.name %></h1>
    <%= image_tag @tag.thumb_url%>
  </div>
  <% @stories.each do |story| %>
    <div class="t-card-story container">

      <div>
        <%= image_tag story.thumb_url, class:"story-img" %>
      </div>

      <div class="t-card-story-content">

        <div>
          <h3><%= story.title %></h3>
          <p><%= story.callout %></p>
        </div>

        <div  class="story-hyde">
          <p><%= story.content %></p>
        </div>

        <div class="t-card-story-details">

          <%=link_to "read", story_path(story), class: "button-three-small"%>
          <span><%= story.reading_time %> minutes</span>
        </div>


      </div>

    </div>
  <% end %>

</div>
