<div data-search-universes-target="list">
  <% if params[:query].present? %>
    <div class="row justify-content-evenly">
      <% @universes.each do |universe| %>
        <%= link_to universe_path(universe), class: "universe-card col-6 my-3" do %>
          <div class="card-category">
            <%= image_tag universe.thumb_url, width: "60%" %>
            <h3><%= universe.title%></h3>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="row justify-content-evenly">
      <% @tags.each_with_index do |tag, index| %>
        <div class="card-category search-bg-<%= colors[index] %>">
          <%= image_tag tag.thumb_url, width: "50%" %>
          <h3 class="font-card"><%= tag.name %></h3>
        </div>
      <% end %>
    </div>
  <%end%>
</div>
