<div data-controller="expander-stories" >

  <div class="t-universe-container container">

    <div class="t-main-card">


    <%= image_tag @universe.thumb_url, class: "universe-image" %>

      <div class="universe-title-description">
        <h3><%= @universe.title %></h3>
        <h6><%= @universe.callout %></h6>
      </div>

    </div>

    <div class="card-description" data-expander-stories-target="ucontent">
        <p><%= @universe.content %></p>
    </div>

    <div class="icon universe-icons">

      <div>

        <% if user_signed_in? %>

          <% if @universe.bookmarks.any? { |book| book[:user_id] == current_user.id} %>
            <% @bookmark = @universe.bookmarks.find { |bookmark| bookmark[:user_id] == current_user.id } %>
            <%= link_to universe_bookmark_path(@universe, @bookmark) ,data: {turbo_method: :delete} do %>
              <i class="fas fa-heart" aria-hidden="true"></i>
            <% end %>
          <% else %>
            <%= simple_form_for [@universe, @bookmark] do |f|%>
              <%= button_tag type: 'submit', class: "button postfix" do %>
                <i class="far fa-heart" aria-hidden="true"></i>
              <% end %>
            <% end %>
          <% end %>

        <% end %>

      </div>

      <i class="fa-solid fa-share"></i>

    </div>

  </div>





  <% @universe.stories.each do |story| %>
    <div class="t-card-story container" data-action="click->expander-stories#expand" data-expander-stories-target="story">

      <div>
        <%= image_tag story.thumb_url, class:"story-img" %>
      </div>

      <div class="t-card-story-content">

        <div class="t-card-story-content-extra">
          <h3><%= story.title %></h3>
          <p><%= story.callout %></p>
          <span><%= story.reading_time %> minutes</span>
        </div>

        <div  class="story-hyde" data-expander-stories-target="scontent">
          <p><%= story.content %></p>
        </div>

        <div class="t-card-story-details">
          <span class="sticker-tag">Mistery</span>

          <%=link_to "read", story_path(story), class: "button-four-small"%>
        </div>


      </div>

    </div>
  <% end %>

</div>
